.configurations-component {

    form {

        section {

            select {

                width: 200px;
                color: black;

            }

            option {

                color: black;

            }

        }

    }

}